.dark {
    background-color: var(--gray_900);
}

.dark .header{
    background-color: var(--gray_1000);
}

.dark #logoHeader {
	fill: var(--white_100);
}

.dark .task1{
	background-color: var(--gray_1000);
}

.dark .task1 h2 {
	color: var(--white_100);
}