@import "grid.css";
@import "typography.css";
@import "colors.css";
@import "shadows.css";
@import "buttons.css";
@import "inputs.css";
@import "fonts.css";
@import "darkTheame.css";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.preloader{
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--white_100);
	z-index: 1001;
	width: 100%;
	height: 100%;
}

.preloaderLogo{
	margin-bottom: 32px;
}

.progressBar {
	border-radius: 2px;
	height: 2px;
	background-color: var(--blue_80);
	animation: loading 1s linear infinite;
}

@keyframes loading{
	0%{
		width: 0;
	}
	100%{
		width: 312px;
	}
}

.hidePreloader {
	transition: 0.5s opacity 0.5s;
	opacity: 0;
  }

.removePreloader {
	display: none;
}

.light {
	background-color: var(--gray_200);
	color: var(--black_100);
}

.header {
	padding: 22px 0px;
	width: 100%;
	background-color: var(--white_100);
	box-shadow: var(--shadow_100);
	position: fixed;
	top: 0;
}

.headerContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	padding-top: 80px;
}

.task1, .task2{
	margin: 24px 0px;
	width: 100%;
	padding: 24px;
	background-color: var(--white_100);
	border-radius: 16px;
}

.task1 h2, .task2 h2{
	margin-bottom: 4px;
	color: var(--gray_900);
}

.task1 p, .task2 p{
	margin-bottom: 24px;
	color: var(--gray_800);
}

.task1 textarea, .task2 textarea {
	margin-bottom: 16px;
}

.textSample {
	margin-bottom: 24px;
	background: var(--gray_200);
	border-radius: 8px;
	padding: 16px;
}

.textSample p{
	margin: 0px;
	color: var(--gray_800);
}

.likeBlock {
	background-color: var(--green_60);
	padding: 24px;
	border-radius: 16px;
	width: 100%;
}

.likeBlock h3 {
	color: var(--white_100);
	margin-bottom: 4px;
}

.likeBlock p {
	color: var(--white_A80);
	margin-bottom: 16px;
}

.task2 h3{
	margin-bottom: 16px;
	color: var(--gray_900);
}

.listTask {
	margin-bottom: 16px;
}

.listTask li {
	padding: 16px 16px 16px 36px;
	background: url(../img/Main/Task/icon/20/chevron-right.svg) no-repeat 12px 16px var(--gray_200);
	color: var(--gray_800);
	border-radius: 8px;
	margin-bottom: 8px;
	font-family: Circe;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	list-style-type: none;
}

.listTask .important_task {
	background: url(../img/Main/Task/icon/20/chevron-right.svg) no-repeat 12px 16px var(--gray_900);
	color: var(--white_100);
}

.important_btn {
	background: var(--gray_900);
	color: var(--white_100);
}

.important_btn:hover {
	background: var(--gray_700);
	color: var(--white_100);
}

.mb-16 {
	margin-bottom: 16px;
}

.chat {
	background: var(--white_100);
	border-radius: 16px;
	margin: 24px 0px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chatTitle {
	padding: 24px 24px 16px 24px;
	color: var(--gray_800);
}

.chatBody {
	padding: 24px;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	height: 350px;
	overflow: auto;
}

.chatMessage {
	padding: 12px 16px;
	background: var(--gray_200);
	border-radius: 8px 8px 0px 8px;
	margin-bottom: 8px;
	align-self: flex-end;
	max-width: 80%;
}

.guest {
	padding: 12px 16px;
	background: var(--blue_60);
	border-radius: 8px 8px 8px 0px;
	margin-bottom: 8px;
	align-self: flex-start;
	color: var(--white_100);
	max-width: 80%;
}

.guest > .caption {
	color: var(--white_A40);
}

.caption {
	color: var(--gray_600);
}

.chatSend {
	background: var(--white_100);
	box-shadow: var(--shadow_60);
	border-radius: 0px 0px 16px 16px;
	padding: 24px;
	display: flex;
}

.chatSend input {
	margin-right: 8px;
}

.liked {
	fill: var(--white_100);
	color: var(--white_100);
}

.title_link{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.filter{
	border: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	color: var(--blue_60);
	padding: 0;
	margin: 0;
	background-color: var(--white100);
}

.filter:hover{
	color: var(--blue_80);
}

.filter:focus{
	outline: none;
}

.limitCounter{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.textCounter {
	color: var(--gray_700);
}

.textCounterWarning {
	color: var(--red_80);
}

.hidden {
	display: none;
}





















